[submodule "qemu"]
	path = qemu
	url = https://github.com/KOR-DYLAN/qemu.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/KOR-DYLAN/buildroot.git
[submodule "linux"]
	path = linux
	url = https://github.com/KOR-DYLAN/linux.git
